<html>
    <head>
        <title> <%= siteTitle %> - <%= pageTitle %> </title>
        <% include ./head %>
        <style media="screen">
            *{border-radius: 10px}
        </style>
    </head>
    <body>
        <% include ./nav %>
